# Crash course on Python

**Suhas Somnath**

8/2/2018

Note that this is not intended as a comprehensive course on python

This is a Jupyter Notebook. Press ``Shift``+``Enter`` to execute a ``cell``

## Interactive

Unlike compiled languages like C / Fortran / Java etc, python is an interactive and interpreted language meaning that you can use it like a calculator executing one command at a time instead of having to compile a giant set of commands:

In [1]:
1 + 15

16

In [2]:
2 ** 5

32

## Variables

The basic components of (scientific) python are variables that can hold values that can be changed later on. 

We create variables as:

``variable_name = value``

In [3]:
my_integer_variable = 100
my_string_variable = 'hello'
my_floating_pt_variable = 3.147
my_boolean_value = True

print(my_integer_variable, my_string_variable, my_floating_pt_variable, my_boolean_value)

100 hello 3.147

There are certain rules for naming variables:
* Should not start with a number
* Should not use reserved words like print, for, if, else etc.
* Can use characters like '_' but not { or [ or ( or - or * or & ....

Try these out:

In [5]:
3rd_value = 4

SyntaxError: invalid syntax (<ipython-input-5-da95130c9fa6>, line 1)

# Lists
As the name implies, such objects can contain a set of items like numbers, strings, or even lists, etc.

In [1]:
my_list = [1, -2.345, 'hello', True]
print(my_list)

[1, -2.345, 'hello', True]

### Length:

In [14]:
len(my_list)

4

## Indexing
Let's say that we are interested in getting the second value in the list above. In python, this translates to getting the item at index ``1`` and not ``2`` since **python starts counting from index 0**. 

Just typing "``my_list``" would result in the entire list. We can find the item at the ``1st`` index by adding the suffix: **[1]**

In [7]:
my_list[1]

-2.345

In [8]:
my_list[2]

'hello'

By the same token, if the object has length ``N``, the last index is ``N-1`` and **not** ``N``. Thus, the following line would result in an error:

In [18]:
my_list[len(my_list)]

IndexError: list index out of range

One can also get a subset of the list as ``object[start:end]``. Note that this is equivalent to a list of ``object[start], object[start+1], .... object[end-2], object[end-1]``. ``object[end]`` is **not** included!

In [2]:
my_list[0:2]

[1, -2.345]

### Appending:

In [14]:
my_list.append('bye')
my_list

[1, -2.345, 'hello', 'bye']

### Changing an entry:

In [15]:
my_list[1] = 5.678
my_list

[1, 5.678, 'hello', 'bye']

### Tuples
These objects are very similar to lists except that they are **immutable** in that one cannot add / remove / modify the contents of the object. 

We create tuples in the same way as lists, except that we use round parenthesis / braces instead:

In [17]:
my_tuple = ('hello', 55, -2.345, False)
my_tuple

('hello', 55, -2.345, 'bye')

In [18]:
my_tuple[1]

55

As mentioned earlier, we cannot modify a tuple:

In [19]:
my_tuple[1] = 44

TypeError: 'tuple' object does not support item assignment

### Strings ~ Tuples of single-character strings
We can apply the same "indexing" idea to find the second "character" in a string. Note that unlike C, Java, etc, python does not have a concept of "characters"

In [9]:
my_string = 'hello'
my_string[1]

'e'

Attempting to change the second character:

In [20]:
my_string[1] = 'o'

TypeError: 'str' object does not support item assignment

## Dictionary

This is a very handy object that allows the storage of **name-value** pairs. So, one could assign a name to a value instead of refering to it as the second value in a list. 

For example, if we wanted to store information (name, age, score) of all the people in a class, we could use a dictionary instead of a list:

In [10]:
student_1 = {'name': 'Harry', 
             'age': 20, 
             'score':89}

Now, if we wanted to find the age of the person, we could say:

In [11]:
student_1['age']

20

Note that the dictionary may itself arrange the name-value pairs (**internally**) in any order unlike the order you see above. So **do not assume that the dictionary is sorted in a particular way**.

In [12]:
student_1

{'age': 20, 'name': 'Harry', 'score': 89}

## Conditional

Python offers if-elif-else for performing separate operations depending on certain conditions

In [22]:
age = 20
if age >= 21:
    print('You are old enough to drink')
else:
    print('You are not old enough to drink')

You are not old enough to drink

**Note: Python is VERY particular about indentation**. Use the ``Tab`` key to move right by four spaces or the ``Shift``+``Tab`` key to move left one level 

Adding additional conditions via **elif**:

In [23]:
if age >= 21:
    print('You are old enough to drink')
elif age > 10:
    print('You can have a soda if you like')
else:
    print('You are not old enough to drink')

You can have a soda if you like

## Loops

In many cases we need to perform the same operation multiple times. For such cases, we could use **for** or **while** loops depending on which works better

### For loops
These are great when the number of iterations is clearly known:

In [24]:
for item in my_list:
    print(item)

1
5.678
hello
bye

### While loops
These are great when you want some thing to keep happening over an **unknownn number of iterations** till a certain condition is met.

In [25]:
age = 15
while age < 18:
    print('Cannot drive yet, you are only {} years old'.format(age))
    age = age + 1
print('You can finally drive now that you are {} years old'.format(age))

Cannot drive yet, you are only 15 years old
Cannot drive yet, you are only 16 years old
Cannot drive yet, you are only 17 years old
You can finally drive now that you are 18 years old

## Functions

Functions allow us to wrap a few lines of code so that it can be reused multiple times quickly in different places.

In [26]:
def welcome():
    print('hello world!')
    
welcome()

hello world!

These functions can take variables as inputs...

In [29]:
def driving_eligibility(name, age):
    if age >= 18:
        print(name + ' is old enough to drive')
    else:
        print(name + ' is not old enough to drive')
        
driving_eligibility('Dave', 19)

Dave is old enough to drive

The functions can also output some value when appropriate by **return**ing some value(s)

In [30]:
def eligible_to_drive(age):
    if age >= 18:
        return True
    else:
        return False

age = 17
result = eligible_to_drive(age)
    
print('A person of age: {} is allowed to drive: {}'.format(age, result))

A person of age: 17 is allowed to drive: False

## Boolean operations

In [3]:
True and False

False

In [4]:
not False

True

In [5]:
False or True

True

## Comparisons

In [6]:
7 > 5

True

In [7]:
5 <= 5

True

The exclamation symbol is equivalent to **not**

In [8]:
6 != 4

True

## Datatypes:

In [10]:
type([1,2,3])

list

In [11]:
type((1,2,3))

tuple

In [12]:
type({'name': 'Bob', 'age': 20})

dict

In [13]:
type('Hello')

str

In [15]:
type(False)

bool

In [16]:
type(1.0)

float

In [17]:
type(1)

int